/* General */
body
{
	width: 100%;
	background-color: rgb(168, 58, 64);
	font-family: 'Raleway', sans-serif;
}

	/* Scrollbar style */
	/* Source: https://css-tricks.com/examples/WebKitScrollbars/ */
	::-webkit-scrollbar 
	{
		width: 12px;
	}
	
	/* Track */
	::-webkit-scrollbar-track 
	{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}
 
	/* Handle */
	::-webkit-scrollbar-thumb 
	{
		-webkit-border-radius: 10px;
		border-radius: 10px;
		background: white;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	}
	::-webkit-scrollbar-thumb:window-inactive 
	{
		background: gray; 
	}
	/* Scrollbar style */
/* General */

/* The nav bar */
.navbar 
{
	position: fixed;
	width: 100%;
	top: 0%;
	z-index: 9999;
}

.nav li a
{
	-moz-transition: .5s;
	-webkit-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}

.navbar-brand
{
	color: white !important;
}
/* The nav bar */

/* The sections (General CSS) */
section
{
	position: absolute !important;
	width: 100%;
	height: 100%;
}

#brand
{
	top: 0%;
	background-color: rgba(0, 0, 0, 0);
	padding: 5%;
	padding-left:2%;
	color: white;
}

#aboutUs
{
	top: 100%;
	background-color: rgb(68, 57, 57);
	padding: 5%;
	padding-left:2%;
	color: white;
}

#location
{
	top: 200%;
	background-color: #587498;
	padding: 5%;
	padding-left:2%;
	color: white;
}

#gallery
{
	top: 300%;
	background-color: #99CC99;
	padding: 5%;
	padding-left:2%;
	color: black;
}

/* The sections (General CSS) */

/* The sections (Specific CSS) */
#location legend
{
	color: white;
}
/* The sections (Specific CSS) */